body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.css-content {
  flex-grow: 1;
}
@media (min-width: 1200px)
{
  .css-slider-left {
    width: 280px;
    flex-shrink: 0;
    transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  .css-content {
    padding: 16px;
    width: calc(100% - 280px);
    transition: margin-left 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
}
